In [ ]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
             )
df1

In [ ]:
total_se = df1['國文'] + df1['英文'] + df1['數學'] + df1['地理'] + df1['社會']
average_se = total_se / 5
average_se

In [ ]:
#新增欄位
df1['總分'] = total_se
df1['平均'] = average_se
df1

In [ ]:
#Series使用比較運算子
df1['總分'] >= 400

In [10]:
#dataFrame使用subscript,搜尋資料
#dataFrame[bool Series]
df1[df1['總分'] >= 400]

     國文  英文  數學  地理  社會   總分    平均
4號   88  57  82  90  84  401  80.2
8號   90  68  94  79  78  409  81.8
14號  91  89  89  75  98  442  88.4
18號  82  90  93  66  81  412  82.4
28號  69  90  85  71  89  404  80.8
35號  93  95  56  84  79  407  81.4
36號  62  76  79  92  91  400  80.0
41號  88  96  80  92  83  439  87.8
43號  67  82  98  72  96  415  83.0
45號  66  92  90  79  79  406  81.2
50號  67  87  86  77  83  400  80.0

In [26]:
#查詢國文95分以上的學生同時總分400分以上
#and = &
#or = |
df1[(df1['國文']>=95) &(df1['總分'] >= 400)]

     國文  英文  數學  地理  社會   總分    平均
45號  97  75  71  78  85  422  84.4

In [28]:
#or = |
df1[(df1['國文']>=95) | (df1['總分'] >= 400)]

     國文  英文  數學  地理  社會   總分    平均
7號   69  67  96  55  76  404  80.8
9號   99  86  60  89  71  399  79.8
10號  77  80  87  96  77  406  81.2
16號  64  83  80  83  89  413  82.6
26號  58  99  57  72  97  434  86.8
29號  84  77  78  57  66  416  83.2
33號  77  64  68  57  95  425  85.0
35號  64  73  68  91  92  418  83.6
38號  71  57  58  88  96  400  80.0
45號  97  75  71  78  85  422  84.4
47號  81  77  85  81  88  450  90.0